body{
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
/*estilos de header*/
a{
    text-decoration: none;
    color: black;
}

.header-one{
    display: flex;
    background-color: rgba(122, 161, 216, 0.756);
    min-height: 40px;
    max-height: 70px;
    justify-content: space-between;
    padding: 10px;
    filter: contrast(125%) saturate(120%);
}

.header-container{
    display: flex;
    padding-left: 25px;
    padding-right: 25px;

}
.header-logo{
    display: flex;
    padding-right: 50px;
    align-items: center;
}

.header-logo img{
    height: 70px;
    padding-right: 10px;
}

.menu-nav{
    display: flex;
    align-items: center;
}
.menu-nav a{
    font-weight: 500;
    padding-right: 30px;
}
.menu-nav a:hover{
    color:aliceblue;

}

.header-buttons{
    display: flex;
    gap: 10px;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.search-one{
    height: 40px;
    width: 40px;
    border-radius: 50%;  
    background-color: #ffffff;
    justify-content: center;
    display: flex;
    
}

.search-one:hover {
    background-color: #74a7c0bc;
}

.header-buscar{
    display: flex;
    justify-content: center;
}
.button-tour {
    background-color: #ffffff; 
    border: none; 
    color: #000000; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    font-weight: bold; 
    cursor: pointer; 
    border-radius: 5px; 
  }
  
  .button-tour:hover {
    background-color: #c6def5;
    color: #000000;}

    .header-buscar a{
      padding-top: 8px;
    }

/*estilos de la primera seccion*/


.seccion-uno {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 200px 160px;
}


.container-1 {
    position: relative;
}


.container-1 h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 25px;
    color: #f0eeee;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.container-1 p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;
    margin-bottom: 60px;
    color: #fff;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
}

.booking-form {
    background-color: rgb(255, 254, 254,0.3);
    border-radius: 30px;
    box-shadow: 0px 0px 20px rgba(0, 0, 0, 0.1);
    padding: 40px 70px 30px;
    position: relative;
    z-index: 1;
    margin-bottom: 0;
    display: flex;
    justify-content: space-between;
}


.booking-form input {
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    color: #666;
    width: 300px;
    padding: 15px 25px;
    border: none;
    border-radius: 30px;
    box-shadow: none;
    background: #f0f0f0;
    padding-right: 60px;
}

.input-date {
    margin-top: 30px;
}

.booking-form input {
    padding-right: 60px;
    
}

.select-box {
    position: relative;
    overflow: hidden;
    margin-bottom: 0;
}

.select-box .nice-select {
    border: none;
    border-radius: 50px;
    color: #666;
    font-size: 16px;
    font-weight: 500;
    line-height: 1.5;
    padding: 15px 30px 15px 25px;
    background: #f0f0f0;
    cursor: pointer;
}

.theme-btn {
    background-color: #4d9aec; 
    border: none; 
    color: #ffffff; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    font-weight: bold; 
    cursor: pointer; 
    border-radius: 5px; 
  }
  
  .theme-btn:hover {
    background-color: #007bff;
    color: #ffffff;

}

.container-1{
    padding: 0 50px;
}

li{
    list-style-type: none;

}

form{
    display: flex;
    gap: 2rem;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.seccion-uno .efecto-humo{
    background-image: url(https://travio.smartdemowp.com/wp-content/uploads/2021/01/shape-1.png);
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 95px;
    background-repeat: repeat-x;
    animation: slide 100s linear infinite;
}

/*stylos de la segunda seccion*/

.seccion-dos{
    background-color: #f5f5f5 ;

}
.container-2{
    padding: 160px 0;
}

.container-caracteristicas{
    position: static;
    max-width: 1200px;
    padding: 0px 15px ;
    margin: 0 auto;
}

.container-titulo{
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.container-titulo p {
    position: relative;
    display: block;
    font-size: 17px;
    line-height: 28px;
    color: #808080;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2px;
}

.container-titulo h2{
    position: relative;
    font-size: 36px;
    line-height: 45px;
    display: block;
    font-weight: 900;
}

.row-clearfix {
    display: flex;
    flex-wrap: wrap;
    margin-right: -15px;
    margin-left: -15px;
}

.caracteristica{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
}

.bloque-uno .caja-interior{
    position: relative;
    display: block;
    border-radius: 10px;
    overflow: hidden;
    background: #99d4e784;
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.08);
}

.bloque-uno .caja-interior .caja-imagen{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
}
.contenido-bajo{  
    position: relative;
    display: block;
    padding: 60px 15px 25px 15px;
}


.contenido-bajo .caja-icono{
    position: absolute;
    left: 50%;
    top: -40px;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    line-height: 80px;
    background: #fff;
    text-align: center;
    border-radius: 50%;
    font-size: 40px;
    box-shadow: 0px 15px 20px 0px rgba(0,0,0,0.06);
}
/*estilos de la tercera seccion */
.seccion-dos{
    position: relative;
}



.about-section {
    position: relative;
    padding: 150px 0px 120px 0px;
    display: block;
  }
  
  /* Estilos para el patrón de fondo */
  .pattern-layer {
    position: absolute;
    height: 346px;
    width: 276px;
    right: 50px;
    bottom: 90px;
    background-repeat: no-repeat;
  }

  .auto-container{
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: auto;
  }
  
  /* Estilos para la imagen y contenido en columnas */
  .row {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;

  }
  
  .imagen-column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

.image-block-1 .image-box{
    position: relative;
    display: block;
    padding: 0px 40px 270px 120px;
}
    

  
  .content-column {
    order: 1;
  }
  
  /* Estilos para la imagen */
  .image-box {
    position: relative;
    margin-bottom: 40px;
  }
  
  
  .shape .shape-1 {
    position: absolute;
    left: 0px;
    top: -60px;
    width: 276px;
    height: 346px;
    background-repeat: no-repeat;
    z-index: -1;
  }
  
  .shapr .shape-2 {
    position: absolute;
    left: 35px;
    top: -55px;
    width: 102px;
    height: 96px;
    background-repeat: no-repeat;
  }

  .imagen-1{
    margin: 0;
    position: relative;
    overflow: hidden;
    background-color: #c6def5;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 20px 50px 0px;
  }
  
  .imagen-2{
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #f9fbfc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 20px 50px 0px;

  }

  .image-box .video-content {
    position: absolute;
    bottom: 35px;
    width: 160px;
    right: -15px;
  }

  
  .image-box h3 {
    display: block;
    font-size: 22px;
    margin-bottom: 13px;
    font-weight: 700;
    line-height: 28px;
  }
  
  .image-box .video-btn a:hover {
    color: #79a3f6;
  }
  
  .image-box .video-btn a {
    position: relative;
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    color: #007bff;
    box-shadow: none;
    text-decoration: none;
  }
  /* Estilos para el contenido */

  .content-column{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .content-box {
    position: relative;
    margin-left: 40px;

  }
  
  .content-box .sec-title {
    margin-bottom:  26px;
  }
  .content-box .sec-title p {
    position: relative;
    display: block;
    line-height: 28px;
    font-weight: 600;
    text-transform: uppercase;
    font-size: 17px;
    color: #2c3aff;
    margin-bottom: 2px;
  }
  
  .content-box .sec-title h2 {
    position: relative;
    display: block;
    font-size: 50px;
    line-height: 60px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
  }
  
  .content-box .text {
    position: relative;
    margin-bottom: 25px;
  }

  .content-box .text p{
    position: relative;
    font-family: 'Work Sans', sans-serif;
    color: #808080;
    font-weight: 400;
    margin: 0px;
    transition: all 500ms ease;

  }
  
  .content-box .lista {
    position: relative;
    margin-bottom: 35px;
  }
  
  .content-box .lista li {
    padding-left: 28px;
    position: relative;
    display: block;
    margin-bottom: 8px;
    font-family: 'Work Sans', sans-serif;
    color: #808080;
  }

  .content-box .lista li::before{
    position: absolute;
    content: "\e906";
    font-family: 'icono';
    left: 0px;
    top: 0px;
    color: #222222;

  }
  
  .content-box .btn-box {
    text-align: center;
  }
  
  .content-box .btn-theme {
    background: #007bff;
    position: relative;
    font-size: 17px;
    line-height: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding: 17.5px 41.5px;
    border-radius: 10px;
  }
 
  .content-box .theme-btn:hover {
    background-color: #4f4f4f;
    color: #fff;
  }

  /*styles de la 4 seccion*/
  .elementor-widget-container {
    margin-bottom: 60px;
  }
  
  .container-section4 {
    padding: 144px 0px 150px 0px;
    background-color: #f5f5f5;
    position: relative;
    display: block;

  }
  
  .diseño-section4 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 830px;
    background-repeat: repeat-x;
    animation: slide 100s  linear infinite;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-name: slide;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: infinite;
  }

  .auto-container{
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
  }
  
  .sec-title {
    margin-bottom: 50px;
    position: relative;
    display: block;
    margin-bottom: 50px;
    text-align: center;
  }
  
  .sec-title h2 {
    position: relative;
    display: block;
    font-family: 'Playfair Display' , serif;
    font-size: 50px;
    line-height: 60px;
    font-weight: 900;
  }
  
  .sec-title p {
    margin-bottom: 2px;
    position: relative;
    display: block;
    font-size: 17px;
    line-height: 28px;
    color:#808080;
    font-weight: 600;
    text-transform: uppercase;
    margin-bottom: 2px;
    font-family: 'Work Sans', sans-serif;

  }
  
  .row{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;

  }


  .tour-block{
    flex: 0 0 33.33333%;
    max-width: 33.3333%;
    position: realitive;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .tour-block-one .inner-box {
    position: relative;
    display: block;
    background: #d5e5fb;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 15px 25px 0px rgb(239, 241, 245);
  }
    
  
  .inner-box .image-box {
    position: relative;
    margin: 0px;
    display: block;
    overflow: hidden;

  }
  
  .tour-block-one .inner-box .image-box img {
    border-radius: 0;
    max-width: 100%;
    height: auto;
    border: none;
    box-shadow: none;
    width: 100%;
  }
  
  .tour-block-one .inner-box .image-box a {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    font-size: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: none;
    text-decoration: none;
  }
  
  .lower-content{
    position: relative;
    padding: 33px 35px 40px 40px;
  }

  .lower-content .rating span{
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;

  }
  .lower-content .rating span i{
    font-size: 18px;
    color: #f3ce2bb6;

  }
  .lower-content h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
    font-weight: 800;
    font-family: sans-serif;
    position: relative;
    color: #000;
    
  }

  .lower-content h3 a{
    display: inline;
    color: #000;
    box-shadow: none;
    text-decoration: none;
  }  

  .lower-content h4 {
    display: block;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 22px;
    color: #2c3aff;

  }
  .lower-content h4 span{
    font-size: 15px;
    font-weight: 500;
    color: #808080;
  }
  
  .lower-content .info {
    position: relative;
    display: block;
    background:#eaeefc;
    padding: 10px 10px 9px 14px;
    border-radius: 8px;
    margin-bottom: 22px;
    list-style: none;
  }

  .lower-content .info li{
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: #818793;
    font-weight: 500;
    padding-left: 15px;
    margin-right: 35px;
    list-style-type: none;

  }

  .lower-content .info li i{
    padding-right: 10px;
  }

  .lower-content p{
    position: relative;
    color: #666666;
    font-family: sans-serif;
    font-weight: 1200;
    margin: 0px;
    padding-bottom: 30px;
    padding-top: 20px;

  }
  
  .tour-block-one .inner-box .lower-content .btn-box a {
    color: #fff;
    font-size: 18px;
    background-color: #7199fd;
    padding: 8px 30px;
    display: inline-block;
    border-radius: 4px;
    transition: all 0.3s ease;
  }


  
  .tour-block-one .inner-box .lower-content .btn-box a:hover {
    background-color: #000;
  }

  /*estilos de la seccion 5 */

  .seccion-cinco {
  }

  .inner-container4 {
    background-image: url("imagenes/seccion5.jpg") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    position: relative;
    padding: 150px 0px;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;


  }

  .inner-container4 .container {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
  }

  .container .content_block_2 .content-box {
    position: relative;
    max-width: 370px;
    width: 100%;
    display: block;
    background: #e5f0fad3;
    padding: 44px 40px 41px 50px;
    border-radius: 15px;  
  }

  .content-box h3 {
    display: block;
    color: #050505;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  .content-box .price {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .content-box .price h4 {
    position: relative;
    display: inline-block;
    line-height: 28px;
    font-weight: 700;
    margin-right: 10px;
    color: #ee8a32;
    padding-right: 10px;
    font-size: 25px;
  }

  .content-box .price del {
    position: relative;
    display: inline-block;
    font-size: 20px;
    line-height: 35px;
    font-family: 'Work Sans', sans-serif;
    color: #666666;
    font-weight: 500;
  }

  .content-box p {
    position: relative;
    font-family: 'Work Sans', sans-serif;
    color: #666;
    font-weight: 400;
    margin: 0px;
    font-size: 15px;
    margin-bottom: 30px;
  }

  .content-box .theme-btn {  
    position: relative;
    background-color: #5fa5f0;
    border: 2px solid #ffffff;
    display: inline-block;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    margin-top: 15px;
    padding: 13px 30px;
    font-family: 'Work Sans', sans-serif;
  }

  .content-box .theme-btn:hover {
    background-color: transparent;
    color: #373a42;
    border: 2px solid #000000;
}

