*{
    transition: all 0.5s ease-in-out;
}
body{
   
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
a{
    text-decoration: none;
    color: black;
}

h3{
  font-family: 'Work Sans', sans-serif;
}

p{
    position: relative;
    font-family: sans-serif;
    color: #808080;
    font-weight: 400;
    margin: 0px;
    margin-bottom: 0px;
}

h2{
    margin-top: 0px;
    position: relative;
    display: block;
    font-size: 50px;
    line-height: 60px;
    font-family: 'Playfair Display', serif;
    font-weight: 900;
}

/*estilos del header*/

.header-one{
    display: flex;
    background-color: rgb(255, 255, 255);
    min-height: 40px;
    max-height: 70px;
    justify-content: space-between;
    padding: 10px;
    filter: contrast(125%) saturate(120%);
    padding: 15px 30px;
}

.header-container{
    display: flex;
}
.header-logo{
    align-self: center;
}
.logo{
    position: relative;
    display: flex;
    padding-right: 50px;
    align-items: center;
}
.logo h2{
    margin: 0px;
    font-family: sans-serif;
    font-size: 30px;
}

.header-logo img{
    height: 70px;
    padding-right: 10px;
    position: relative;
    
}

.menu-nav{
    float: left;
}
.menu-nav .navigation{
    margin: 0px;
    list-style: none;
    padding: 0px;

}

.navigation li{
    position:inherit;
    float: left;


}
.navigation li a{
    position: relative;
    display: block;
    text-align: center;
    justify-content: center;
    font-size: 17px;
    font-family: sans-serif;
    font-weight: 500;
    opacity: 1;
    z-index: 1;
    color: #000000;
    padding: 25px 15px;
}
.navigation li a:hover{
    color: #5285d7dc;
    transition: all 0.5s ease-in-out;

}

.header-buttons{
    display: flex;
    gap: 10px;
    align-items: center;
}
.search-one{
    height: 40px;
    width: 40px;
    border-radius: 50%;  
    background-color: #d3d3d3;
    justify-content: center;
    display: flex;
    align-items: center;   
}

.search-one:hover {
    background-color: #5285d7dc;
}

.search{
    display: flex;
    position: relative;
}
.button-tour {
    background-color: #5285d7dc; 
    border: none; 
    color: #000000; 
    padding: 10px 20px; 
    text-align: center; 
    text-decoration: none; 
    display: inline-block; 
    font-size: 16px; 
    font-weight: bold; 
    cursor: pointer; 
    border-radius: 5px; 
  }
  
  .button-tour:hover {
    background-color: #c6def5;
    color: #000000;}

 .menu-nav .checkbtn{
    color: #000000;
    font-size: 40px;
    float: right;
    cursor: pointer;
    display: none;

 }

 #check{
    display: none;
 }


 @media (max-width: 499px){
    .menu-nav .checkbtn{
        display: block;
        box-sizing: border-box;
        padding: 11px 0px;
        
    }

    .logo h2{
        font-size: 18px;
        width: 120px;
    }

    .header-logo img{
        height: 50px;
        
    }
    .header-one{
        padding: 15px 15px;
    }
    .seccion-uno{
        width: 100%;

    }
    .booking-form{
        display:grid;
        margin-bottom: 30px

    }
    .form-group{
        margin-bottom:50px ;
    }

 }




/*estilos de la primera seccion*/


.seccion-uno {
    position: relative;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center center;
    padding: 200px 0px;
}


.container-1 {
    position: static;
    max-width: 1200px;
    width: 1200px;
    margin: 0 auto;
    width: 1200px;
    
}


.container-1 h2 {
    font-size: 60px;
    font-weight: 700;
    line-height: 1.3;
    margin-bottom: 25px;
    color: #f0eeee;
    text-shadow: 0px 0px 5px rgba(0, 0, 0, 0.3);
}

.container-1 p {
    font-size: 18px;
    font-weight: 500;
    line-height: 1.8;
    margin-bottom: 60px;
    color: #fff;
    text-shadow: 0px 0px 5px rgba(255, 255, 255, 0.3);
}

.form-inner{
    position: relative;
    display: block;
    padding: 20px 228px 84px 20px;
    background: rgba(255, 255, 255, 0.322);
    border-radius: 6px;

}

.form-group {
    position: relative;
    float: left;
    margin: 0px;
    width: 33.3333%;

    
}

.form-group input {
    position: relative;
    max-width: 286px;
    font-size: 15px;
    font-weight: 500;
    color: #666;
    width: 100%;
    height: 64px;
    padding: 10px 25px;
    border-radius: 5px;
    background: #f0f0f0;
    border: none;
    box-sizing: border-box;

}

.message-btn{
    position: absolute;
    top: 20px;
    right: 20px;
    z-index: 1;
}



.theme-btn {
    display: inline-flex;
    background-color: #4d9aec; 
    border: none; 
    color: #ffffff;
    width: 206px;
    height: 64px;
    text-align: center; 
    text-decoration: none;  
    font-size: 16px; 
    border-radius: 5px; 
    align-items: center;
    justify-content: center;
  }
  
  .theme-btn:hover {
    background-color: #007bff;
    color: #ffffff;

}


li{
    list-style-type: none;

}



.seccion-uno .efecto-humo{
    background-image: url(https://travio.smartdemowp.com/wp-content/uploads/2021/01/shape-1.png);
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 95px;
    background-repeat: repeat-x;
    animation: slide 100s linear infinite;
}
@keyframes slide{
    0%{
        background-position: 0 0;
    }
    100%{
        background-position: 2920px 0;
    }
}

/*stylos de la segunda seccion*/

.seccion-dos{
    background-color: #f5f5f5 ;

}
.container-2{
    padding: 144px 0px 150px 0px;
}

.container-caracteristicas{
    position: static;
    max-width: 1200px;
    padding: 0px 15px ;
    margin: 0 auto;
}

.container-titulo{
    position: relative;
    display: block;
    text-align: center;
    margin-bottom: 30px;
}

.container-titulo p {
    font-size: 17px;
    font-weight: 600;
    margin-bottom: 2px;
}

.container-titulo h2{
    position: relative;
    font-size: 36px;
    line-height: 45px;
    display: block;
    font-weight: 900;
}

.row-clearfix {
    display: flex;
    


}

.caracteristica{
    position: relative;
    padding-right: 15px;
    padding-left: 15px;
    box-sizing: border-box;
    float: left;
    width: 25%;

}

.bloque-uno .caja-interior{
    position: relative;
    display: block;
    max-height: 336.109px;
    border-radius: 10px;
    overflow: hidden;
    background: #99d4e784;
    box-shadow: 0px 15px 25px 0px rgba(0,0,0,0.08);
}

.bloque-uno .caja-interior .caja-imagen{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    box-sizing: border-box;
}

.caja-imagen a img{
    width: 100%;
}
.contenido-bajo{  
    position: relative;
    display: block;
    padding: 60px 15px 25px 15px;
}


.contenido-bajo .caja-icono{
    position: absolute;
    left: 50%;
    top: -40px;
    transform: translateX(-50%);
    width: 80px;
    height: 80px;
    display: flex;
    align-items: center;
    justify-content: center;
    background: #fff;
    border-radius: 50%;
    font-size: 40px;
}



.contenido-bajo h4{
    justify-content: center;
    align-items: center;
    display: flex;
    font-size: 20px;
    font-weight: 700;
    line-height: 24px;
    font-family: "Work Sans",sans-serif
}
/*estilos de la tercera seccion */
.seccion-dos{
    position: relative;
}



.about-section {
    position: relative;
    padding: 150px 0px 120px 0px;
    display: block;
  }
  
  /* Estilos para el patrón de fondo */
  .pattern-layer {
    position: absolute;
    height: 346px;
    width: 276px;
    right: 50px;
    bottom: 90px;
    background-repeat: no-repeat;
  }

  .auto-container{
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: auto;
  }
  
  /* Estilos para la imagen y contenido en columnas */
  .row3 {
    display: flex;
    margin-right: -15px;
    margin-left: -15px;

  }
  
  .imagen-column {
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

.image-block-1 .image-box{
    position: relative;
    display: block;
    padding: 0px 40px 270px 120px;
}
    

  
  .content-column {
    order: 1;
  }
  
  /* Estilos para la imagen */
  .image-box {
    position: relative;
    margin-bottom: 40px;
  }
  
  
  .shape .shape-1 {
    position: absolute;
    left: 0px;
    top: -60px;
    width: 276px;
    height: 346px;
    background-repeat: no-repeat;
    z-index: -1;
  }
  
  .shapr .shape-2 {
    position: absolute;
    left: 35px;
    top: -55px;
    width: 102px;
    height: 96px;
    background-repeat: no-repeat;
  }

  .imagen-1{
    margin: 0;
    position: relative;
    overflow: hidden;
    background-color: #c6def5;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 20px 50px 0px;
  }

  .imagen-1 img{
    width: 100%;
  }
  
  .imagen-2{
    position: absolute;
    left: 0px;
    bottom: 0px;
    background: #f9fbfc;
    padding: 10px;
    border-radius: 10px;
    box-shadow: 0px 20px 50px 0px;

  }

  .imagen-2 img{
    width: 100%;
  }

  .image-box .video-content {
    position: absolute;
    bottom: 35px;
    width: 160px;
    right: -15px;
  }

  
  .image-box h3 {
    display: block;
    font-size: 22px;
    margin-bottom: 13px;
    font-weight: 700;
    line-height: 28px;
  }
  
  .image-box .video-btn a:hover {
    color: #79a3f6;
  }
  
  .image-box .video-btn a {
    position: relative;
    display: inline-block;
    font-size: 60px;
    line-height: 60px;
    color: #007bff;
    box-shadow: none;
    text-decoration: none;
  }

  