
  /* Estilos para el contenido */

  .content-column{
    position: relative;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
    flex: 0 0 50%;
    max-width: 50%;
  }
  .content-box {
    position: relative;
    margin-left: 40px;

  }
  
  .content-box .sec-title {
    margin-bottom:  26px;
  }

 
  
  .content-box .text {
    position: relative;
    margin-bottom: 25px;
  }

  .content-box .lista {
    position: relative;
    margin-bottom: 35px;
    padding: 0px;
  }
  
  .content-box .lista li {
    padding-left: 28px;
    position: relative;
    display: block;
 
    margin-bottom: 8px;
    font-family: sans-serif;
    color: #808080;
  }

  .content-box .lista li::before{
    position: absolute;
    content: "\e906";
    font-family: 'icono';
    left: 0px;
    top: 0px;
    color: #222222;

  }
  
  .content-box .btn-box {
    text-align: center;
    display: flex;
  }
  
  .content-box .btn-theme {
    background: #007bff;
    position: relative;
    font-size: 17px;
    line-height: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: #fff;
    text-align: center;
    padding: 17.5px 41.5px;
    border-radius: 10px;
  }
 
  .content-box .theme-btn:hover {
    background-color: #4f4f4f;
    color: #fff;
  }

  /*styles de la 4 seccion*/

  .container-section4 {
    padding: 144px 0px 150px 0px;
    background-color: #f5f5f5;
    position: relative;
    display: block;
  }
  
  .diseño-section4 {
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 830px;
    background-repeat: repeat-x;
    animation: slide 100s  linear infinite;
    animation-duration: 100s;
    animation-timing-function: linear;
    animation-name: slide;
    animation-fill-mode: none;
    animation-play-state: running;
    animation-delay: 0s;
    animation-direction: normal;
    animation-iteration-count: infinite;
  }

  .auto-container{
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0px auto;
  }
  
  .sec-title {
    margin-bottom: 50px;
    position: relative;
    display: block;
    margin-bottom: 50px;
    text-align: center;
  }
  

  .sec-title p {
    font-weight: 700;
    margin-bottom: 5px;
  }
  
  .row{
    display: flex;
    margin-right: -15px;
    margin-left: -15px;

  }


  .tour-block{
    flex: 33.3%;
    max-width: 33.3%;
    position: realitive;
    width: 100%;
    padding-right: 15px;
    padding-left: 15px;
  }

  .tour-block-one .inner-box {
    position: relative;
    display: block;
    background: #d5e5fb;
    border-radius: 10px;
    overflow: hidden;
    box-shadow: 0px 15px 25px 0px rgb(239, 241, 245);
  }
    
  
  .inner-box .image-box {
    position: relative;
    margin: 0px;
    display: block;
    overflow: hidden;

  }
  
  .tour-block-one .inner-box .image-box img {
    border-radius: 0;
    max-width: 100%;
    height: auto;
    border: none;
    box-shadow: none;
    width: 100%;
  }
  
  .tour-block-one .inner-box .image-box a {
    position: absolute;
    top: 0px;
    left: 0px;
    color: #fff;
    font-size: 0px;
    width: 100%;
    height: 100%;
    z-index: 1;
    box-shadow: none;
    text-decoration: none;
  }
  
  .lower-content{
    position: relative;
    padding: 33px 35px 40px 40px;
  }

  .lower-content .rating span{
    position: relative;
    display: block;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 0px;

  }
  .lower-content .rating span i{
    font-size: 18px;
    color: #f3ce2bb6;

  }
  .lower-content h3 {
    font-size: 24px;
    line-height: 30px;
    margin-bottom: 5px;
    font-weight: 800;
    font-family: sans-serif;
    position: relative;
    color: #000;
    
  }

  .lower-content h3 a{
    display: inline;
    color: #000;
    box-shadow: none;
    text-decoration: none;
  }  

  .lower-content h4 {
    display: block;
    font-size: 22px;
    line-height: 28px;
    font-weight: 700;
    margin-bottom: 22px;
    color: #2c3aff;

  }
  .lower-content h4 span{
    font-size: 15px;
    font-weight: 500;
    color: #808080;
  }
  
  .lower-content .info {
    position: relative;
    display: block;
    background:#eaeefc;
    padding: 10px 10px 9px 14px;
    border-radius: 8px;
    margin-bottom: 22px;
    list-style: none;
  }

  .lower-content .info li{
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: #818793;
    font-weight: 500;
    padding-left: 15px;
    margin-right: 35px;
    list-style-type: none;

  }

  .lower-content .info li i{
    padding-right: 10px;
  }

  .lower-content p{
    position: relative;
    color: #666666;
    font-family: sans-serif;
    font-weight: 1200;
    margin: 0px;
    padding-bottom: 30px;
    padding-top: 20px;

  }
  
  .tour-block-one .inner-box .lower-content .btn-box a {
    color: #fff;
    font-size: 18px;
    background-color: #7199fd;
    padding: 8px 30px;
    display: inline-block;
    border-radius: 4px;
    transition: all 0.3s ease;
  }


  
  .tour-block-one .inner-box .lower-content .btn-box a:hover {
    background-color: #000;
  }

  /*estilos de la seccion 5 */

  .inner-container5 {
    background-image: url("https://content.r9cdn.net/rimg/dimg/4c/ac/7e6077e1-city-45618-165ce416a23.jpg?crop=true&width=1020&height=498") ;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;  
    position: relative;
    padding: 150px 0px;
    width: 100%;
    height: 100%;
    display: block;
    box-sizing: border-box;


  }

  .inner-container5 .container5 {
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
  }

  .container5 .content_block_5 .content-box5 {
    position: relative;
    max-width: 370px;
    width: 100%;
    display: block;
    background: #e5f0fad3;
    padding: 44px 40px 41px 50px;
    border-radius: 15px;  
  }

  .content-box5 h3 {
    display: block;
    color: #050505;
    font-size: 24px;
    font-weight: 800;
    line-height: 32px;
    margin-bottom: 5px;
    text-transform: uppercase;
  }

  .content-box5 .price {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
  }

  .content-box5 .price h4 {
    position: relative;
    display: inline-block;
    line-height: 28px;
    font-weight: 700;
    margin-right: 10px;
    color: #ee8a32;
    padding-right: 10px;
    font-size: 25px;
  }

  .content-box5 .price del {
    position: relative;
    display: inline-block;
    font-size: 20px;
    line-height: 35px;
    font-family: 'Work Sans', sans-serif;
    color: #666666;
    font-weight: 500;
  }

  .content-box5 p {
    font-size: 15px;
    margin-bottom: 30px;
  }

  .content-box5 .theme-btn {  
    position: relative;
    background-color: #5fa5f0;
    border: 2px solid #ffffff;
    font-size: 16px;
    font-weight: 700;
    overflow: hidden;
    margin-top: 15px;
    font-family: 'Work Sans', sans-serif;
  }

  .content-box5 .theme-btn:hover {
    background-color: transparent;
    color: #373a42;
    border: 2px solid #000000;
 }

/*estilos de la seccion 6*/

 .inner-container6 {
  position: relative;
  padding-bottom: 120px;
  display: block;
  padding: 144px 0px 150px 0px;
 }
 .animation6 {
  display: none;
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  max-width: 1920px;
  width: 100%;
  height: 100%;
  margin: 0 auto;
 }

 .icon-1 {
  right: 250px;
  top: 230px;
  width: 276px;
  height: 346px;
 }
 .container6 {
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;

 } 

 .row-container6 {
  display: flex;
  flex-wrap:wrap;
 }

 .title-box {
  flex: 0 0 30.8%;
  max-width: 30.8%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;

 }
 .sec-titleflex {
  margin-bottom: 22px;
  position: relative;
 }

 .sec-titleflex p{
  font-weight: 700;
  margin-bottom: 5px;
  
 }


 .text p{
  vertical-align: inherit;

 }

 .box-destination{
  flex: 0 0 30.8%;
  max-width: 30.8%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
 }

 .inner-box{
  position: relative;
  display: block;
  background: #d2f0f7;
  padding: 15px;
  border-radius: 15px;
  box-shadow: 0px 15px 25px 0px rgba(0, 0, 0, 0.1);
  margin-bottom: 30px;

 }

 .inner-box .image-box{
  margin: 0;
  position: relativa;
  display: block;
  overflow: hidden;
 }

 .inner-box .image-box img {
  width: 100%;
  height: auto;
  max-width: 100%;
  border: none;
  border-radius: 0;
  box-shadow: none;
  display: inline-block;
 }

 .inner-box .text{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  padding-left: 45px;
  padding-bottom: 40px;
  z-index: 2;

 }
 .inner-box .text h3{
  display: block;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  color: rgb(245, 246, 245);
 }
 .inner-box .text h3 a{
  color: rgb(255, 255, 255);

 }
 
 .link-column {
  position: relative;
  display:flex;
  flex-wrap: nowrap;
  align-items: center;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
  flex: 0 0 30.8%;
  max-width: 30.8%;
 }

 .link-box{
  position: relative;
  background: #cee5fd;
  padding: 40px 0px 44px 0px;
  border-radius: 50%;
  width: 100%;
  text-align: center;

 }

 .link-box h3{
  display: block;
  font-size: 22px;
  line-height: 28px;
  font-weight: 700;
  margin-bottom: 23px;
  position: relative;
  font-family: 'Work Sans', sans-serif;
  margin: 0px;
  padding-bottom: 20px;
 }

 /*estilos de la seccion siete*/

 .map-section{
  position: relative;
  padding: 144px 0px 295px 0px;
  background: #f5f5f5;
  display: block;
 }

 .imagen-inferior{
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 100px;
  background-size: cover;
  background-repeat: no-repeat;
 }

 .mapa-container .sec-title{
  text-align: center;
  position: relative;
  display: block;
 }

.map-inner{
  position: relative;
  max-width: 1247px;
  width: 100%;
  margin: 0 auto;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
 }

 .map-inner .map-content{
  position: relative;
  min-height: 618px;
 } 

 .location-1{
  position: absolute;
  left: 185px;
  top: 125px;
 }

 .location-2{
  position: absolute;
  left: 200px;
  top: 90px;
 }

 .location-3{
  position: absolute;
  left: 44%;
  top: 45px;
 }

 .location-4{
  position: absolute;
  left: 210px;
  top: 270px;
 }

 .map-marker{
  position: relative;
  display: inline-flex;
  width: 60px;
  height: 72px;
  line-height: 72px;
  text-align: center;
  cursor: pointer;
  margin: 0;
 }

 .map-marker span {
  position: absolute;
  left: 0px;
  top: -6px;
  font-size: 24px;
  color:#cee5fd;
  font-weight: 500;
  text-align: center;
  width: 100%;

 }

 .address-box{
  position: absolute;
  left: 0px;
  width: 350px;
  background: #cee5fd;
  border-radius: 0%;
  padding: 24px 30px 31px 30px;
  box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.2);
  z-index: 9;
  transition: all 500s ease;
  visibility: visible;

 }

 .address-box::before{
  position: absolute;
  content: '';
  width: 100%;
  height: 100%;
  left: 0px;
  top: 0px;
  border-radius: 1px;
  box-shadow: 0px 0px 0px 10px #f2f2f2;
 }

 /*estilos de la seccion 8*/

 .funfact-section{
  position: relative;
  text-align: center;
  display: block;
 }

 .auto-container8{
  position: static;
  max-width: 1200px;
  padding: 0px 15px;
  margin: 0 auto;
 }

 .inner-container8{
  position: relative;
  display: block;
  background: #ffffff;
  padding: 37px 50px 40px 50px;
  border-radius: 5px;
  margin-top: -150px;
  z-index: 1;
  box-shadow: 8px 7px 5px .5px;
 }
.row8{
  display: flex;
  flex-wrap: wrap;
  margin-right: -15px;
  margin-left: -15px;
}

.counter-block{
  flex: 0 0 20%;
  max-width: 20%;
  position: relative;
  width: 100%;
  padding-right: 15px;
  padding-left: 15px;
}

.counter-block-one{
  position: relative;
  max-width: 230px;
  width: 100%;
  margin: 0 auto;
}

.inner-box8{
  position: relative;
  display: block;
  padding: 37px 0px 24px 0px;
}

.fondo{
  position: absolute;
  left: 0px;
  top: 0px;
  width: 230px;
  height: 144px;
  background-repeat: no-repeat;
}

.count-outer{
  position: relative;
  display: block;
  font-size: 30px;
  line-height: 50px;
  color: #061a3a;
  font-weight: 700;
  margin-bottom: 5px;
}

.inner-box8 p {
  font-size: 16px;
  line-height: 28px;
  font-weight: 500;
  position: relative;
  font-family: 'Work Sans', sans-serif;
  color: #666;
  margin: 0px;

}

/*estilosde la seccion 9*/
  .testimonial-section{
    padding: 144px 0px 150px 0px;
    position: relative;
    display: block;
    text-align: center;   
  }

  .textimonials{
    display: block;
    width: 100%;
    position: relative;
  }

  .owl-stages{
    overflow: visible;
    position: relative;

  }

  .owl-stage{
    width: 1200px;
    position: relative;
    text-align: center;
    display: flex;

  }

  .owl-item{
    width: 370px;
    margin-right: 15px;
    margin-left: 15px;
    opacity: 1;
    position: relative;

  }

  .testimonial-block .inner-box9{
    position: relative;
    display: block;
    background: #9ad7ffc1;
    padding: 48px 30px 71px 30px;
    border-radius: 10px;
    box-shadow: 0px 10px 40px 0px rgba(0,0,0,0.1);

  }

  .inner-box9 .rating-box{
    position: relative;
    margin-bottom: 23px;
    padding: 0px;
    margin: 0px;
  }

  .inner-box9 .rating-box li{
    position: relative;
    display: inline-block;
    font-size: 18px;
    color: #007bff;
    margin-bottom: 30px;


  }
  
  .author-box span{
    position: relative;
    display: block;
    font-size: 15px;
    font-weight: 500;
    color: #666;

  }

  .author-box .thumb-box{
    margin: 0;
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    bottom: -47px;
    width: 83px;
    height: 83px;
    background: #ffffff;
    padding: 7px;
    border-radius: 50%;
    box-shadow: 0px 20px 40px 0px rgba(6,26,58,0.2);
  }

  .author-box .trumb-box img{
    width: 100%;
    border-radius: 50%;
    display: block;
    height: auto;
    max-width: 100%;
    border: none;
    box-shadow: none;
    text-align: center;
  }

  .owl-dots{
    position: relative;
    margin-top: 100px;
    display: flex;
    text-align: center;
    margin-left: 570px;
  }

  .owl-dots .active{
    display: inline-block;

  }

  .owl-dots .active i{
    color: #007bff;

  }





  /*estilos de la seccion 10 */

  .container-10{
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    display: flex;
    align-content: flex-start;
  }

  .video-section{
    position: relative;
    padding: 176px 0px 186px 0px;
    width: 100%;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    text-align: center;
    display: block;
  }
  .auto-container10{
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;
  }

  .inner-box10 h2{
    position: relative;
    display: block;
    font-size: 50px;
    line-height: 60px;
    font-family: 'Playfair Display', serif;
    color: #ffffff;
    font-weight: 900;
    margin-bottom: 23px;
    margin: 0px;
  }

  .inner-box10 p {
    display: block;
    font-size: 22px;
    line-height: 30px;
    color: #ffffff;
    font-weight: 600;
    margin-bottom: 35px;
    position: relative;
    font-family: 'Work Sans', sans-serif;
    margin: 0px;


  }

  .video-btn10{
    margin-top: 70px;
  }

  .video-btn10 a {
    position: relative;
    display: inline-block;
    width: 90px;
    height: 90px;
    line-height: 88px;
    font-size: 55px;
    text-align: center;
    border-radius: 50%;
    color: #007bff;
    border: 5px solid #007bff;
    box-shadow: none;
    text-decoration: none;
  }

  .border-animation{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    border: 5px solid #007bff;
    animation: squares 2.9s linear 0s infinite;
    animation-play-state: running;
    opacity: 0;
  }


  /*estilos de la seccion 11*/
  
  .container-section11{
    padding-bottom: 220px;
    position: relative;
    padding: 144px 0px 150px 0px;
    display: block;
  }

  .auto-container11{
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: 0 auto;

  }

  .row11{
    display: flex;
    flex-wrap: wrap;
    background: transparent;
  }

  .blocks{
    flex: 0 0 30%;
    max-width: 30%;
    position: relative;
    width: 100%;
    padding-left: 20px;
    padding-right: 20px;
    background: transparent;
  }


  .inner-box11{
    position: relative;
    display: block;

  }

  .inner-box11 .image-box11{
    position: relative;
    display: block;
    overflow: hidden;
    border-radius: 10px;
    margin-bottom: 20px;
    background: #007bff;
  }

  .image-box11{
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
  }

  .image-box11 img {
    height: auto;
    max-width: 100%;
    border: none;
    box-shadow: none;
    display: inline-block;
    border-radius: 10px;
    vertical-align: middle;
  }

  .post-date{
    position: absolute;
    left: 20px;
    top: 28px;
    font-size: 15px;
    line-height: 26px;
    font-weight: 500;
    background: #d1e7ec;
    border-radius: 25px;
    padding: 5px 20px 3px 55px;
    box-shadow: 0px 0px 40px 0px rgba(0,0,0,0.5);
  }

  .post-date i{
    position: absolute;
    left: 0px;
    top: -3px;
    background: #007bff;
    width: 43px;
    height: 43px;
    line-height: 40px;
    text-align: center;
    font-size: 20px;
    color: #ffffff;
    border-radius: 50%;
    box-shadow: 10px 0px 20px 0px rgba(0,0,0,0.15);
  }

  .lower-content11 .category a {
    position: relative;
    display: inline-block;
    font-size: 15px;
    font-weight: 500;
    color: #808080;
    background: #f0f1f2;
    padding: 1px 21px;
    text-align: center;
    border-radius: 25px;
    margin-bottom: 14px;
    box-shadow: none;
    text-decoration: none;
  }

  .lower-content11 h3{
    position: relative;
    display: block;
    font-size: 26px;
    line-height: 30px;
    font-weight: 700;
    margin-bottom: 6px;
    margin: 0;
  }

  .lower-content11 h3 a{
    display: inline-block;
    color: #000;
    text-decoration: none;
  }

  .lower-content11 h3 a:hover{
    color: #5fa5f0;
  }

  .lower-content11 .post-info{
    position: relative;
    margin-bottom: 14px;
    padding-left: 0;
    list-style: none;
  }

  .post-info li{
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: #666;
    list-style: none;
    margin: 0px;
    padding: 0px;
  }

  .post-info li a {
    display: inline-block;
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
  }

  .post-info li a:hover{
    color: #4d9aec;
  }

  .lower-content11 p {
    font-weight: 600;
    font-size: 15px;
    margin-bottom: 30px;
  }

  .lower-content11 .btn-box11 a{
    padding: 11px 22px;
    text-decoration: none;
    box-shadow: none;
    position: relative;
    display: inline-block;
    overflow: hidden;
    font-size: 17px;
    line-height: 25px;
    font-family: 'Work Sans', sans-serif;
    font-weight: 500;
    color: #061a3a;
    border: 1px solid #e4e8e9;
    text-align: center;
    border-radius: 4px;

  }

  .lower-content11 .btn-box11 a:hover{
    border: #000000;
    background: #c3f9ff;
  }

.efecto-humo-negro{
  background-image: url('https://travio.smartdemowp.com/wp-content/uploads/2021/02/shape-10.png');
  position: absolute;
  left: 0px;
  bottom: 0px;
  width: 100%;
  height: 95px;
  background-repeat: repeat-x;
  animation: slide 100s linear infinite;
}



  /*estilos del footer*/

  .footer{
    position: relative;
    background: #000000;
  }

  .footer-content{
    padding-top: 130px;
    position: relative;
    padding: 100px 0px 110px 0px;
  }

  .footer-content .footer-fondo{
    background-image: url(https://travio.smartdemowp.com/wp-content/uploads/2021/02/shape-4.png);
    position: absolute;
    left: 0px;
    bottom: 0px;
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-color: #171717;
  }
  .footer-container{
    position: static;
    max-width: 1200px;
    padding: 0px 15px;
    margin: auto;
  }

  .footer-elementor{
    display: flex;
    margin-right: auto;
    margin-left: auto;
    position: relative;
  }

  .footer-elementor .footer-rows{
    width: 100%;
    display: flex;
  }

  .rows-column{
    width: 25%;
    padding-left: 15px;
    padding-right: 15px;
  }


  .rows-column .row-container{
    position: relative;
    width: 100%;
    flex-wrap: wrap;
    align-content: flex-start;

  }

  .footer-widget{
    position: relative;
    margin-right: -15px;
  }

  .footer-logo{
    position: relative;
    margin-bottom: 35px;
  }

  .footer-logo a{
    box-shadow: none;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    color: #666;
  }

  .footer-logo a img {
    max-width: 125px;
    height: auto;
    border: none;
    border-radius: 0;
    box-shadow: none;
    display: inline-block;
  }

  .text-widget {
    margin-bottom: 50px;
    align-content: center;
  }

  .text-widget p{
    font-size: 16px;
    line-height: 26px;
    color: #ebebeb;
    position: relative;
    font-family: 'Work sans', sans-serif;
    font-weight: 400;
    margin: 0px;
  }

  .social-links{
    list-style: none;
    padding: 0px;
    margin: 0px;
  }

  .social-links li{
    margin-right: 10px;
    position: relative;
    display: inline-block;
    list-style: none;
    padding: 0px;
    margin: 0px;

  }

  .social-links li a{
    position: relative;
    display: inline-block;
    font-size: 15px;
    color: #3996ec;
    width: 40px;
    height: 40px;
    line-height: 40px;
    text-align: center;
    background: rgba(255, 255, 255, 0.472);
    border-radius: 50%;

  }

  /*estilos del segundo widget de servicios */

  .margen-widget{
    position: relative;
    margin-left: 60px;
  }

  .widget-title{
    position: relative;
    display: block;
    margin-bottom: 27px;
  }
  .widget-title h3{
    font-size: 24px;
    line-height: 32px;
    color: #0b78deca;
    font-weight: 600;
  }

  .widget-content .links-list{
    list-style: none;
    padding: 0px;
    margin: 0px;

  }

  .links-list .menu-item{
    position: relative;
    display: block;
    margin-bottom: 10px;
    list-style: none;


  }

  .links-list .menu-item a{
    position: relative;
    display: inline-block;
    box-shadow: none;
    text-decoration: none;
    font-size: 16px;
    line-height: 26px;
    color: #eee8e8;
  }

  .links-list .menu-item a:hover{
    color: #326eaf;
  }


  /*estilos de la galeria de footer*/

  .widget-content{
    display: block;
  }
  

  .margen-galeria{
    position: relative;  
    margin-right: 38px;
  }

  .widget-content ul{
    position: relative;
    margin: 0px;
    padding: 0px;
    list-style: none;

  }

  .image-list li{
    position: relative;
    display: inline-block;
    margin: 0px 5px 10px 5px;
    list-style: none;
  }

  .image-boxf{
    margin: 0px;
    position: relative;
    display: block;
    overflow: hidden;
    width: 90px;
    height: 90px;
    border-radius: 5px;
    background: #007bff;
  }

  .image-boxf img{
    width: 100%;
    border-radius: 5px;
    height: auto;
    max-width: 100%;
    box-shadow: none;
  }

  /*estilos de cotactos de footer*/
  .info-list li{
    position: relative;
    display: block;
    font-size: 16px;
    line-height: 26px;
    color: #ebebeb;
    padding-left: 30px;
    margin-bottom: 19px;
  }

  .info-list li i{
    position: absolute;
    left: 0px;
    color: #68c8f8;
    font-size: 20px;
    margin-right: 10px;
  }


  .info-list li a{
    font-size: 16px;
    line-height: 26px;
    color: #ebebeb;
  }

  /*responsive para movil*/

  @media (max-width: 412px){

    p{
        font-size: 15px;
    }
    h2{
        font-size: 35px;
    }

    /*responsive del header*/
    .menu-nav .checkbtn{
        display: block;
        box-sizing: border-box;
        padding: 11px 0px;
        
    }
    .header-one .header-buttons{
      display: none;
    }

    .header-container{
      width: 100%;
    }

    .header-container .menu-nav{
      width: 100%;
    }

    .menu-nav .navigation{
      position: fixed;
      width: 100%;
      height: 100vh;
      background: #222222;
      top: 100px;
      display: none;
    }

    .navigation .nav-link a{
      color: floralwhite;
    }

    .logo h2{
        font-size: 18px;
        width: 120px;
    }

    .header-logo img{
        height: 50px;
        
    }
    .header-one{
        padding: 15px 15px;
    }
    /*responsive de la primera seccion*/
    .seccion-uno{
      padding: 100px 10px;
    }

    .seccion-uno .container-1 {
      width: 100%;
    }

    .seccion-uno .form-inner{
      padding:19px 26px 38px 26px;
    }

    .booking-form .form-group{
      width: 100%;
      float: inherit;
      margin-bottom: 20px;
    }
    .form-group input {
      box-sizing: border-box;
      padding: 31px 25px;
      width: 100%;
      max-width: 100%;
    }

    .booking-form .message-btn{
      position: relative;
      box-sizing: border-box;
      width: 100%;
      top: 0px;
      right: 0px;
      margin-top: 35px;
    
    }
    .message-btn .theme-btn{
      width: 100%;
    }
    

    /*responsive de la segunda seccion*/

  .seccion-dos .container-2{
    padding: 60px 0px 45px 0px;
  }
    .container-caracteristicas .row-clearfix{
        display: block;
    }
    .row-clearfix .caracteristica{
        margin: 30px auto;
        width: 270px;
    }
    /*responsive de la tercera seccion*/
    .auto-container .row3{
        display: block;
        margin: 0px;
    }
    .row3 .imagen-column{
        padding: 0px;
        
    }
    .about-section .auto-container{
        position: relative;
        margin: 0px;
        padding: 0px;
        max-width: 100%;
        width: 100%;
    }
    .imagen-column .image-block-1 .image-box{
        position: relative;
        box-sizing: border-box;
        padding: 0px 69px 0px 69px;
        display: inline-block;
        width: 100%;

    }
    .image-block-1 .image-box .video-content{
        position: relative;
        margin: 0px auto;
        bottom: 0px;
        right: 0px;
        margin-top: 40px;

    }
    .imagen-1 img{
        width: 100%;
    }
    .video-btn{
        margin: 0px 50px;
    }
    .imagen-2{
        position: relative;
        width: 100%;
        margin: 20px 0px;
    }
    .imagen-2 img{
      width: 100%;
      position: relative;
    }
    .row3 .content-column{
        width: 100%;
        max-width: 100%;
        box-sizing: border-box;
        padding: 30px 20px;
    }
    .content_block_1 .content-box{
        margin: 0px 20px;

    }

    /*responsive de la seccion 4*/
    .auto-container .row{
        display: block;
    }
    
    .row .tour-block{
        padding: 0px 15px;
        box-sizing: border-box;
        width: 100%;
        max-width: 100%;
    }

    /*responsive de la seccion 5*/
     .inner-container5 .container5 .content_block_5 .content-box5{
        width: auto;
        padding: 20px;
        
    }

    .content-box5 .theme-btn {
      width: 100%;
    }

    /*responsive de la seccion 6*/
    .container-6 .inner-container6 {
      padding: 60px 0px;
    }
    .container6 .row-container6{
      display: block;
    }
    .row-container6 .title-box{
      max-width: 100%;
      box-sizing: border-box;
      padding: 0px 20px;
      margin-bottom: 30px;

    }

    .row-container6 .box-destination{
      max-width: 100%;
      box-sizing: border-box;
      padding: 0px 20px;


    }
    .row-container6 .link-column{
      max-width: 100%;
      box-sizing: border-box;
      padding: 0px 20px;


    }
    /*responsive de la seccion 7*/
    .address-box{
      display: none;
    }

    /*responsive de la seccion 8*/
    .auto-container8 .inner-container8{
      box-shadow: 6px 15px 3px 2.5px;
      background-color: #fefefe;
    }

    .inner-container8 .row8{
      display: block;
    }
    .row8 .counter-block{
      max-width: 100%;
      padding: 0px;
    }

    .counter-block-one .inner-box8{
      padding: 20px 0px 24px 0px;
      margin-bottom: 30px;

    }

    /*responsive de la seccion nueve*/
    .owl-stage{
      display: block;
      width: 100%;
    }

    .owl-item{
      width: 100%;
      margin:  60px 0px;
    }

    .owl-dots{
      display: block;
      margin-left: 0px;

    }
    /*responsive de la seccion once*/
    .container-11 .container-section11{
      padding: 60px 0px 90px 0px;

    }
    .auto-container11 .sec-title{
      margin-bottom: 20px;
    }
    .auto-container11 .row11{
      display: block;

    }
    .row11 .blocks{
      max-width: 100%;
      padding: 20px 20px;
      box-sizing: border-box;


    }



    /*responsive del footer*/
    footer .footer-content{
        padding: 20px 0px 80px 0px;

    }
    .footer-sections .footer-elementor .footer-rows{
        display: block;
    }
    .footer-rows .rows-column{
        width: 100%;
        padding: 0px;
    }
    .row-container .footer-widget{
        margin: 0px;
    }

    .footer-widget .footer-logo{
        margin: 20px 110px;
    }
    .footer-widget .margen-widget{
        margin: 0px;
    }

    .footer-widget .social-links{
        justify-content: space-evenly;
        display: flex;
    }



}









  








